<!-- TITLE -->
{{ if .Params.Title }}
  <title itemprop="name">{{ .Params.title }}</title>
  <meta property="og:title" content="{{ .Params.Title }}" />
{{ else }}
  <title itemprop="name">{{ .Site.Params.title }}</title>
  <meta property="og:title" content="{{ .Site.Params.Title }}" />
{{ end }}

<!-- Search Engine Crawler Tags -->
{{ if eq .Kind "404" -}}
<meta name="robots" content="noindex, follow" />
{{ else -}}
{{ with .Params.robots -}}
<meta name="robots" content="{{ . }}" />
{{ else -}}
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
{{ end -}}
{{ end -}}

<meta itemprop="name" content="{{ .Title }} {{ .Site.Params.Title }}" />
<meta name="application-name" content="{{ .Title }} {{ .Site.Params.Title }}" />
<meta name="author" content="{{ .Site.Params.author }}" />
<!-- Description Tags -->
<meta name="description" content="{{- with .Page.Description -}}{{ . }}{{- else -}}{{ .Site.Params.description }}{{- end -}}" />
<meta itemprop="description" content="{{ .Site.Params.description }}" />
<meta name="url" content="{{ .Permalink }}" />

<!-- Keywords Tag -->
{{ if .Site.Params.Keywords }}
  <meta name="keywords" content="{{ delimit .Site.Params.Keywords ','}}"/>
{{ end }}
{{ if .Params.Keywords }}
  <meta name="keywords" content="{{ delimit .Params.Keywords ','}}"/>
{{ end }}

<!-- Link Tags -->
{{/*  <base href="{{ .Site.BaseURL }}" />  */}}
<link rel="canonical" href="{{ .Site.BaseURL }}" itemprop="url" />
<!-- JSON-LD -->
{{ partial "head/structured-data.html" . }}
